@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Contact";
}
<div class="gry-shadow main container_16" style="height:600px;">
	<div class="headline">
		<h1>Pathway Headlines Look Like This</h1>
		<h2>Sub headlines look like this!</h2>
	</div>
	<div class="section">
		<div class="content">
		</div>
	</div>
</div>