@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Features";
    Page.Current = "Features";
}
<div class="gry-shadow main container_16">
	<div class="headline grywht-grad">
		<h1>Features designed for effective communication.</h1>
		<h2>We worked hard to provide you with tools to reach people.</h2>
	</div>
	<div class="section clearfix">
		<div class="grid_9 prefix_1">
			<iframe src="http://player.vimeo.com/video/42152424?title=1&amp;byline=0&amp;portrait=0&amp;color=8bcd28" class="gry-shadow" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		<div class="grid_5">
			<p>
				<br />
				We believe Pathway has the features you need to better track and manage your communication. With the right tools, your staff and volunteers will be equipped to make sure that you can reach out and connect with each person that engages your ministry community. Pathway provides you with the essentials to establish contact and stay engaged.
				<br /><br />
				<b><a href="#feature-information">Feature Information</a></b> | <b><a href="#pathway-process">Pathway Process</a></b>
			</p>
		</div>
	</div>		
	<div id="feature-information" class="section features">
		<div class="content clearfix">
		<div class="grid_7 prefix_1">
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-phone"></span></div>
					<h4>Make calls from anywhere</h4>
					<p class="smaller">Place calls from any phone and Caller ID will show your church’s phone number, so more calls will be answered.</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-assign"></span></div>
					<h4>Assign and manage contacts</h4>
					<p class="smaller">Use Pathway’s auto-assign tool to quickly distribute calls to your team based on a preset limit and/or gender.</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-email-html"></span></div>
					<h4>Send ministry specific emails</h4>
					<p class="smaller">Send templated HTML emails with a personal note, bridging the gap between when a person asks for more information and actually gets it!</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-notify"></span></div>
					<h4>Automatic notifications</h4>
					<p class="smaller">Emails are sent automatically to let a volunteer or staff member know their assignments are ready, or a connection needs follow up.</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left" style="margin-bottom:0;"><span class="icon-campaign"></span></div>
					<h4>Organize via campaigns</h4>
					<p class="smaller">Each volunteer, staff member and department sees only the campaigns they need keeping Pathway simple, uncluttered, and efficient to use.</p>
				</div>
			</div>
			<div class="grid_7">
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-notes"></span></div>
					<h4>Details for each interaction</h4>
					<p class="smaller">Store notes and information about each call, allowing you to look back on each communication in order to facilitate a better ministry experience.</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-assess"></span></div>
					<h4>Assess and measure productivity</h4>
					<p class="smaller">Measure the success of your callers with detailed reporting on calls made, average times, completed calls and much more.</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-avail"></span></div>
					<h4>Set individual availability</h4>
					<p class="smaller">Members of a campaign set their own availability and preferences so you don’t have to check up on them prior to making your assignments.</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left"><span class="icon-messaging"></span></div>
					<h4>Keep your team up-to-date</h4>
					<p class="smaller">A flexible messaging tool allows you to communicate with your entire team or select individuals to keep them up-to-date.</p>
				</div>
				<div class="clearfix">
					<div class="featured-icon  gry-shadow left" style="margin-bottom:0;"><span class="icon-drag"></span></div>
					<h4>Manage exceptions effectively</h4>
					<p class="smaller">Manage the changes along the way by quickly dragging and assigning contacts to other callers as needed.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="pathway-process" class="section clearfix">
		<div class="grid_14 prefix_1">
			<h3>Start to finish, here's how Pathway works...</h3>
		</div>
		<div class="grid_14 prefix_1 relative flow">
			<a href="#" class="flow-link block" style="top:150px;left:370px;" rel="popover" data-content="Whether you use a ChMS or not, importing your contacts into Pathway is a breeze. You can import contacts for a specific campaign or import everyone you have on record and add them to campaigns as needed. Pathway allows you to connect, and keep connecting efficiently and effectively." data-original-title="Importing Your Contacts" data-placement="above">More Info</a>
			<a href="#" class="flow-link block" style="top:210px;left:746px;" rel="popover" data-content="Adding contacts to campaigns allows you to keep up with connections for a spcecific ministry, department or initiative. With your contacts in a campaign, you can assign them to your staff and volunteers and then track and manage the progress of the connections." data-original-title="Connections that Make Sense" data-placement="above">More Info</a>
			<a href="#" class="flow-link block" style="top:495px;left:609px;" rel="popover" data-content="Your staff and volunteers are empowered to make contact in the way that makes the most sense. You can provide call scripts, notes or email templates for them to use when reaching out to your community. If they feel that additional contact is needed by another ministry or individual, they can flag the contact for follow up, making sure that each person is ministered to as needed. Assignments can be distrbuted automatically or manually, based on the availability that each user sets, providing real accountability. Notifications are automiatically sent to the appropriate users when new assignments are given and when contacts require follow up, making sure that no connections fall through the cracks. " data-original-title="Communication that Matters" data-placement="above">More Info</a>
			<a href="#" class="flow-link block" style="top:435px;left:290px;" rel="popover" data-content="Pathway is your tool to create a connected church. Using Pathway to organize and delegate the connections that your staff and volunteers make will assist you in closing the back door of your church. Reach each and every person that enters your church, and stay in contact when it matters most." data-original-title="Stay Connected" data-placement="above">More Info</a>
		</div>
		<div class="grid_14 prefix_1">
			<div class="rounded sub-content blu-grad" style="margin-top:40px;">
				<h2>Questions? Call us today! <b>1-800-506-0826</b></h2>
			</div>
		</div>		
	</div>	
	<div class="section">
		<div class="content clearfix">
			<div class="grid_14 prefix_1">
				<div class="grid_11 alpha">
					<h3>Love what you see? Sign up now!</h3>
				</div>
				<div class="grid_3 omega rgt-align">
					<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
				</div>
			</div>		
		</div>
	</div>	
</div>

@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			$("a[rel=popover]").popover({offset: 5});
		});
	</script>
}