@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Features";
    Page.Current = "Features";
}
<div class="gry-shadow main container_16">
	<div class="headline grywht-grad">
		<h1>Features designed for effective communication.</h1>
		<h2>We worked hard to provide you with tools to reach people.</h2>
	</div>
	<div class="section clearfix features">
		<div class="grid_7 prefix_1">
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-phone"></span></div>
				<h4>Make calls from anywhere</h4>
				<p class="smaller">Place calls from any phone and Caller ID will show your church’s phone number, so more calls will be answered.</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-assign"></span></div>
				<h4>Assign and manage contacts</h4>
				<p class="smaller">Use Pathway’s auto-assign tool to quickly distribute calls to your team based on a preset limit and/or gender.</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-email-html"></span></div>
				<h4>Send ministry specific emails</h4>
				<p class="smaller">Send templated HTML emails with a personal note, bridging the gap between when a person asks for more information and actually gets it!</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-notify"></span></div>
				<h4>Automatic notifications</h4>
				<p class="smaller">Emails are sent automatically to let a volunteer or staff member know their assignments are ready, or a connection needs follow up.</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left" style="margin-bottom:0;"><span class="icon-phone"></span></div>
				<h4>Organize via campaigns</h4>
				<p class="smaller">Each volunteer, staff member and department sees only the campaigns they need keeping Pathway simple, uncluttered, and efficient to use.</p>
			</div>
		</div>
		<div class="grid_7">
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-notes"></span></div>
				<h4>Details for each interaction</h4>
				<p class="smaller">Store notes and information about each call, allowing you to look back on each communication in order to facilitate a better ministry experience.</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-assess"></span></div>
				<h4>Assess and measure productivity</h4>
				<p class="smaller">Measure the success of your callers with detailed reporting on calls made, average times, completed calls and much more.</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-avail"></span></div>
				<h4>Set individual availability</h4>
				<p class="smaller">Members of a campaign set their own availability and preferences so you don’t have to check up on them prior to making your assignments.</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left"><span class="icon-messaging"></span></div>
				<h4>Keep your team up-to-date</h4>
				<p class="smaller">A flexible messaging tool allows you to communicate with your entire team or select individuals to keep them up-to-date.</p>
			</div>
			<div class="clearfix">
				<div class="featured-icon  gry-shadow left" style="margin-bottom:0;"><span class="icon-drag"></span></div>
				<h4>Manage exceptions effectively</h4>
				<p class="smaller">Manage the changes along the way by quickly dragging and assigning contacts to other callers as needed.</p>
			</div>
		</div>
	</div>
	<div id="features" class="section none">
		<div class="content clearfix">
			<div class="grid_8 prefix_1">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum cursus mauris, at consectetur lorem tristique at. Donec consequat, ipsum nec viverra faucibus, turpis orci lobortis nisi, nec lobortis nunc massa in felis. Morbi dictum adipiscing feugiat. Pellentesque consectetur enim ac eros semper ultrices et vel metus. Nulla facilisi. In hac habitasse platea dictumst.</p>
			</div>
			<div class="grid_6">
				<ul class="box-list clearfix">
					<li class="grid_3 alpha"><a href="#tour" class="sub-nav">Tour</a></li>
					<li class="grid_3 omega"><a href="#communication" class="sub-nav">Communication</a></li>
				</ul>
				<ul class="box-list clearfix" style="margin-bottom:0;">
					<li class="grid_3 alpha"><a href="#campaigns" class="sub-nav">Campaigns</a></li>
					<li class="grid_3 omega"><a href="#assignments" class="sub-nav">Assignments</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="tour" class="section none" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Take a quick look</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div id="communication" class="section none clearfix" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Connect with your community individually</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div id="campaigns" class="section none" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Organize your communications effectively</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div id="assignments" class="section none" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Empower volunteers &amp; track effectiveness</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div class="section">
		<div class="content clearfix">
		<div class="grid_14 prefix_1">
			<div class="grid_11 alpha">
				<h3>We know you love what you've seen, Sign Up now!</h3>
			</div>
			<div class="grid_3 omega rgt-align">
				<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
			</div>
		</div>		
		</div>
	</div>	
</div>