@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Features";
}
<div class="gry-shadow main container_16" style="height:600px;">
	<div class="headline">
		<h1>Pathway Headlines Look Like This</h1>
		<h2>Sub headlines look like this!</h2>
	</div>
	<div class="section">
		<div class="content">
			<ul class="grid_12 prefix_2">
				<li class="grid_3 alpha" style="background:red;height:50px;"></li>
				<li class="grid_3" style="background:green;height:50px;"></li>
				<li class="grid_3" style="background:green;height:50px;"></li>
				<li class="grid_3 omega" style="background:red;height:50px;"></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>