@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Features";
}
<div class="gry-shadow main container_16">
	<div class="headline">
		<h1>Pathway Headlines Look Like This</h1>
		<h2>Sub headlines look like this!</h2>
	</div>
	<div id="features" class="section">
		<div class="content clearfix">
			<div class="grid_8 prefix_1">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum cursus mauris, at consectetur lorem tristique at. Donec consequat, ipsum nec viverra faucibus, turpis orci lobortis nisi, nec lobortis nunc massa in felis. Morbi dictum adipiscing feugiat. Pellentesque consectetur enim ac eros semper ultrices et vel metus. Nulla facilisi. In hac habitasse platea dictumst.</p>
			</div>
			<div class="grid_6">
				<ul class="box-list clearfix">
					<li class="grid_3 alpha"><a href="#tour" class="sub-nav">Tour</a></li>
					<li class="grid_3 omega"><a href="#communication" class="sub-nav">Communication</a></li>
				</ul>
				<ul class="box-list clearfix" style="margin-bottom:0;">
					<li class="grid_3 alpha"><a href="#campaigns" class="sub-nav">Campaigns</a></li>
					<li class="grid_3 omega"><a href="#assignments" class="sub-nav">Assignments</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="tour" class="section" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Take a quick look</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div id="communication" class="section clearfix" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Connect with your community individually</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div id="campaigns" class="section" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Organize your communications effectively</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div id="assignments" class="section" style="height:350px;">
		<div class="grid_14 prefix_1 clearfix">
			<div class="grid_11 alpha">
				<h3>Empower volunteers &amp; track effectiveness</h3>
			</div>
			<div class="grid_3 omega">
				<a href="#features" class="top" title="Back to Top">Back to Features</a>
			</div>
			<div class="grid_14 prefix_1 clearfix">
			</div>
		</div>		
	</div>
	<div class="section">
		<div class="content clearfix">
		<div class="grid_14 prefix_1">
			<div class="grid_11 alpha">
				<h3>We know you love what you've seen, Sign Up now!</h3>
			</div>
			<div class="grid_3 omega rgt-align">
				<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
			</div>
		</div>		
		</div>
	</div>	
</div>