@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Legal";
    Page.Current = "Legal";
}
<div class="gry-shadow main container_16">
	<div class="headline grywht-grad">
		<h1>Pathway Legal</h1>
		<h2><a href="#privacypolicy">Privacy Policy</a> | <a href="#termsofuse">Terms of Use</a> | <a href="#paymentfaq">Payment FAQs</a></h2>
	</div>
	<div id="privacypolicy" class="section clearfix">
		<div class="grid_14 prefix_1">
			<h3>Privacy Policy</h3>
			<p>This site is owned and operated by E-vent Software, Inc. (&quot;E-vent Software&quot;).  This document applies to all sites and software that are explicitly or implicitly owned or powered by E-vent Software, Inc.  Herein, the organization who enlists our services to create and/or manage their web site shall be referred to as the &quot;Client&quot;.  Collectively, E-vent Software, Inc. and its Clients shall be referred to as &quot;We&quot; or, possessively, &quot;Our.&quot; Visitors to one of our sites shall be herein referred to by either &quot;User&quot; or &quot;Customer.&quot;</p>
			
			<b><u>COMMITMENT TO YOUR PRIVACY</u></b>
			
			<p>At E-vent Software, and on behalf of our Clients, we understand the frustrations that SPAM, junk e-mail, pop-ups, and other invasions of your privacy cause and that is why we want to make your experience online as satisfying and safe as possible.  It is for this reason that we always protect your privacy as our highest concern.  Because we and our Clients gather certain types of information about our users, we feel you should fully understand the terms and conditions surrounding the capture and use of that information. This privacy statement discloses what information we gather and how we use it.</p>
			
			<b><u>INFORMATION THAT WE GATHER AND TRACK</u></b>
			
			<p>We gather two types of information about our users and customers:</p>
			
			<UL>
			<LI>
			<P align="left">Information that users provide through optional, voluntary 
			submissions. These are voluntary submissions to receive our electronic 
			newsletters, to participate in our message boards or forums, to email a friend, 
			and from participation in polls and surveys.</P>
			<LI>
			<P align="left">Information&nbsp;E-vent Software&nbsp;gathers through aggregated 
			tracking information derived mainly by tallying page views throughout our 
			sites. This information allows us to better tailor our content to readers' 
			needs and to help our&nbsp;clients better understand the demographics 
			of&nbsp;their audience. Under no circumstances does E-vent Software divulge any 
			information about an individual user to a third party without the expressed 
			consent of that user.</P>
			</LI>
			
			</UL>
			<P align="left">E-vent Software Gathers User Information In The Following 
			Processes:</P>
			<UL>
			<LI>
			<DIV align="left"><B>Optional Voluntary Information</B></DIV>
			</LI>
			</UL>
			<BLOCKQUOTE dir="ltr" style="MARGIN-RIGHT: 0px">
			
			<P dir="ltr" style="MARGIN-RIGHT: 0px" align="left">We offer the following free 
			services, which require some type of voluntary submission of personal 
			information by users:</P>
			<P align="left">1.&nbsp; Electronic newsletters (Dispatches)</P>
			<BLOCKQUOTE dir="ltr" style="MARGIN-RIGHT: 0px">
			<P align="left">At times, we may offer a free electronic newsletter to our users. 
			E-vent Software gathers the email addresses of users who <EM>voluntarily </EM>subscribe. 
			Users may remove themselves from this mailing list by following the link 
			provided in every newsletter/mailing that points users to 
			their&nbsp;personal&nbsp;information management page. Users can also subscribe 
			to the newsletters at the time of registration in our system.</P>
			
			</BLOCKQUOTE>
			
			<p>2.&nbsp; Polling </p>
			
			<BLOCKQUOTE dir="ltr" style="MARGIN-RIGHT: 0px">
			<P align="left">We may offer interactive polls to users so they can easily share 
			their opinions with other users and see what our audience thinks about 
			important issues.&nbsp; Opinions or other responses to polls are aggregated and 
			are not identifiable to any particular user.&nbsp; E-vent Software may use a 
			system to "tag" users after they have voted, so they can vote only once on a 
			particular question. This tag is not correlated with information about 
			individual users.</P>
			
			</BLOCKQUOTE>
			<P align="left">3.&nbsp; Surveys</P>
			<BLOCKQUOTE dir="ltr" style="MARGIN-RIGHT: 0px">
			<P align="left">We&nbsp;may occasionally conduct user surveys to better target our 
			content to our audience. We sometimes share the aggregated demographic 
			information in these surveys with our sponsors,&nbsp;partners, and clients. We 
			never share any of this information about specific individuals with any third 
			party.</P>
			</BLOCKQUOTE></BLOCKQUOTE>
			<UL>
			
			<LI>
			<DIV align="left"><B>Children</B></DIV>
			</LI>
			</UL>
			<BLOCKQUOTE dir="ltr" style="MARGIN-RIGHT: 0px">
			<P align="left">Consistent with the Federal Children's Online Privacy Protection 
			Act of 1998 (COPPA), we will never knowingly request personally identifiable 
			information from anyone under the age of 13 without requesting parental 
			consent.&nbsp; In our system, this is safeguarded by requesting billing 
			information and credit card information at the time of purchase.</P>
			</BLOCKQUOTE>
			
			<UL>
			<LI>
			<DIV align="left"><B>Usage tracking</B></DIV>
			</LI>
			</UL>
			<BLOCKQUOTE dir="ltr" style="MARGIN-RIGHT: 0px">
			<P align="left">E-vent Software tracks user traffic patterns throughout all of our 
			sites. However, we do not correlate this information with data about individual 
			users. E-vent Software does break down overall usage statistics according to a 
			user's domain name, browser type, and MIME type by reading this information 
			from the browser string (information contained in every user's browser).</P>
			<P align="left">We do not track what individual users read, but rather how well 
			each page performs overall. This helps us continue to build a better service 
			for you.</P>
			
			</BLOCKQUOTE>
			<UL>
			<LI>
			<DIV align="left"><B>Cookies</B></DIV>
			</LI>
			</UL>
			<BLOCKQUOTE dir="ltr" style="MARGIN-RIGHT: 0px">
			<P align="left">We may place a text file called a "cookie" in the browser files of 
			your computer. The cookie itself does not contain Personal Information although 
			it will enable us to relate your use of this site to information that you have 
			specifically and knowingly provided. But the only personal information a cookie 
			can contain is information you supply yourself. A cookie can't read data off 
			your hard disk or read cookie files created by other sites. E-vent Software 
			uses cookies to track user traffic patterns (as described above) and provide a 
			more customized experience for our returning customers.</P>
			
			<P align="left">You can refuse cookies by turning them off in your browser. If 
			you've set your browser to warn you before accepting cookies, you will receive 
			the warning message with each cookie. The secure portion of our site (the 
			checkout process) makes extensive use of cookies to guarantee that your 
			security is not lost with other vistors and customers of our site.&nbsp; To 
			complete a purchase on this site, you <STRONG>MUST</STRONG> enable cookies on 
			your browser.</P>
			</BLOCKQUOTE>
			<b><U>USE OF INFORMATION</U></b>
			<P align="left">E-vent Software uses any information voluntarily given by our users 
			to enhance their experience in our network of sites, whether to provide 
			interactive or personalized elements on the sites or to better prepare future 
			content based on the interests of our users.</P>
			<P align="left">As stated above, we use information that users voluntarily provide 
			in order to send out electronic newsletters and to enable users to participate 
			in polls and surveys. We send out newsletters to subscribers on a regular 
			schedule (depending on the newsletter and our clients' schedule of events), and 
			occasionally send out special editions when we think subscribers might be 
			particularly interested in something we are doing. E-vent Software never shares 
			newsletter mailing lists with any third parties, including advertisers, 
			sponsors or partners.&nbsp; The majority of e-mails we send to subscribed 
			customers are at the request of our clients (e.g. reminder e-mails, early 
			notification e-mails).</P>
			
			<B><U>SHARING OF THE INFORMATION</U></B>
			<P></P>
			
			<P align="left">E-vent Software uses the above-described information to tailor our 
			content to suit your needs and help our clients better understand their 
			customer's demographics.&nbsp;We will not share information about individual 
			users with any third party, except to comply with applicable law or valid legal 
			process or to protect the personal safety of our users or the public.</P>
			<b><U>SECURITY</U></b>
			<P align="left">E-vent Software operates secure data networks protected by industry 
			standard firewall and password protection systems. Our security and privacy 
			policies are periodically reviewed and enhanced as necessary and only 
			authorized individuals have access to the information provided by our 
			customers.&nbsp; For more technical information about our current 
			infrastructure, please click <A href="@Href("~/Features")">here</A>.</P>
			<b><U>OPT-OUT POLICY</U></b>
			<P align="left">We give users options wherever necessary and practical. Such 
			choices include:</P>
			<UL>
			<LI>
			<P align="left">Opting not to register to receive our electronic 
			newsletters/mailings when registering,</P>
			<LI>
			<P align="left">Returning to&nbsp;their personal customer information page where 
			they may opt out of future mailings.</P>
			<LI>
			
			<P align="left">Clicking on the "unsubscribe" link that appears at the bottom of 
			each of our electronic newsletters/mailings,</P>
			<LI>
			<P align="left">Opting not to participate in certain interactive areas, which 
			completely alleviates the need to gather any personally identifiable 
			information from our users.&nbsp; In this case, the customer must call the 
			number provided on that site so that their order may be taken by a customer 
			service associate.</P>
			</LI>
			</UL>
			<b><U>YOUR CONSENT</U></b>
			<P align="left">By using this site, you consent to the collection and use of this 
			information by E-vent Software and its Clients. If we decide to change our 
			privacy policy, we will post those changes on this page so that you are always 
			aware of what information we collect, how we use it, and under what 
			circumstances we disclose it.</P>
		</div>		
	</div>
	<div id="termsofuse" class="section">
		<div class="content clearfix">
			<div class="grid_14 prefix_1">
				<h3>Terms of Use</h3>
				<P>This site is owned and 
				operated by E-vent Software, Inc. ("E-vent Software").&nbsp;&nbsp;This document 
				applies to all sites and software that are explicitly or implicitly owned or 
				powered by E-vent Software, Inc.&nbsp; Herein, the organization who enlists our 
				services to create and/or manage their web site shall be referred to as the 
				"Client".&nbsp; Collectively, E-vent Software, Inc. and its Clients shall be 
				referred to as "We" or, possessively,&nbsp;"Our."&nbsp;Visitors to one of our 
				sites shall be herein referred to by either "User" or "Customer."</P>
				
				
				
				<P align="left"><B><U>TERMS OF USE</U></B></P>
				
				<p>CAREFULLY READ AND REVIEW THE NOTICES, DISCLAIMERS, LIMITATIONS, TERMS, 
				PROVISIONS AND CONDITIONS SET FORTH HEREIN BELOW AND IN THE <A href="#privacypolicy">PRIVACY 
				POLICY</A> BEFORE USING THIS SITE OR ITS FEATURES IN WHOLE OR IN PART 
				(THESE TERMS, INCLUDING BUT NOT LIMITED TO THE <A href="#privacypolicy">PRIVACY 
				POLICY</A>, ARE HEREINAFTER REFERRED TO AS “TERMS OF USE”). ANY USER WHO 
				ACCEPTS, ASSENTS AND AGREES TO BE BOUND BY THE FOLLOWING TERMS OF USE IS 
				WELCOME TO USE THIS SITE AND ITS FEATURES, SUBJECT TO SAID TERMS OF USE.		</p>
				<p>AS USED IN THESE TERMS OF USE, WHETHER ABOVE OR BELOW, THIS “SITE” (INCLUDING 
				WITHOUT LIMITATION THE WORD “SITE” WITH THE LETTER “S” CAPITALIZED AND THE REST 
				OF THE LETTERS OF “SITE” IN LOWER CASE) SHALL INCLUDE THIS WEBSITE AND ALL 
				WEBSITES OWNED OR CONTROLLED BY E-VENT SOFTWARE, INC. (HEREIN REFERRED TO AS 
				“E-VENT SOFTWARE”), AND SHALL INCLUDE WITHOUT LIMITATION ALL APPLICATIONS, 
				FEATURES, SERVICES AND INFORMATION ON OR AVAILABLE THROUGH THIS WEBSITE (ALL 
				APPLICATIONS, FEATURES, SERVICES AND INFORMATION HEREINAFTER ALSO REFERRED TO 
				COLLECTIVELY AS THE “SERVICES”).</p>
				<p>THIS SITE, AND ALL OF ITS FEATURES AND SERVICES, IS OFFERED AND MADE AVAILABLE 
				TO YOU, AND YOUR USE OF THIS SITE AND ITS FEATURES IN WHOLE OR IN PART, IS 
				SUBJECT TO AND CONDITIONED UPON YOUR ACCEPTANCE AND AGREEMENT AND COMPLIANCE 
				WITH THE TERMS OF USE, WITHOUT QUALIFICATION, LIMITATION OR MODIFICATION. DO 
				NOT USE THIS SITE OR ANY OF ITS FEATURES IN WHOLE OR IN PART IF YOU DO NOT 
				UNDERSTAND AND AGREE TO THE TERMS OF USE WITHOUT QUALIFICATION, LIMITATION OR 
				MODIFICATION. BY USING THIS SITE, INCLUDING WITHOUT LIMITATION VIEWING OR USING 
				ANY OR ALL OF ITS CONTENT OR FEATURES IN WHOLE OR IN PART, YOU SIGNIFY AND 
				ACKNOWLEDGE THAT YOU HAVE READ THE TERMS OF USE AND FULLY AND COMPLETELY 
				UNDERSTAND THEM AND AGREE TO THEM WITHOUT QUALIFICATION, LIMITATION OR 
				MODIFICATION, AND USE OF THIS SITE, INCLUDING WITHOUT LIMITATION VIEWING OR 
				USING ANY OR ALL OF ITS CONTENT OR FEATURES CONSTITUTES ACCEPTANCE, ASSENT AND 
				AGREEMENT WITH, AND A REPRESENTATION AND WARRANTY THAT YOU SHALL COMPLY WITH, 
				THE TERMS HEREOF WITHOUT QUALIFICATION, LIMITATION OR MODIFICATION.
				</p>
				<p>THESE TERMS OF USE APPLY TO YOU, WHETHER YOU ARE AN INDIVIDUAL OR AN ENTITY 
				ACTING BY OR THROUGH YOU AS ITS AUTHORIZED REPRESENTATIVE, OR WHETHER YOU 
				REPRESENT, ACT OR PURPORT TO REPRESENT OR ACT FOR OR ON BEHALF OF ANOTHER 
				PERSON OR ENTITY, OR YOURSELF ALONE. THESE TERMS OF USE APPLY TO YOU IN 
				WHATEVER CAPACITY IN WHICH YOU USE THIS SITE, INCLUDING BUT NOT LIMITED TO 
				CUSTOMERS, MEMBERS OR VISITORS. FOR PURPOSES OF THESE TERMS OF USE, AND USE AND 
				INTERACTION WITH THIS SITE, (A) A CUSTOMER IS AN ORGANIZATION OR PERSON WHO HAS 
				ENTERED INTO A SERVICE AGREEMENT WITH E-VENT SOFTWARE AND USES THE SITE AND 
				PROVIDES ACCESS TO THE SITE AS A SERVICE TO OTHERS (HEREINAFTER REFERRED TO AS 
				“CUSTOMER”); CUSTOMER SHALL ALSO INCLUDE WITHOUT LIMITATION AN INDIVIDUAL WHOM 
				A CUSTOMER HAS AUTHORIZED TO INTERACT WITH THE SITE AND WHO IS ALSO SUBJECT TO 
				THESE TERMS OF USE; (B) A MEMBER IS A PERSON WHO HAS REGISTERED TO INTERACT 
				WITH CERTAIN FEATURES OF THE SITE; (C) A VISITOR IS ANY PERSON OR ENTITY WHO 
				VISITS THE SITE FOR ANY REASON WHATSOEVER.
				</p>
				
				<p>YOU REPRESENT AND WARRANT BY USING THIS SITE THAT YOU ARE AT LEAST 18 YEARS OF 
				AGE, OF SOUND MIND, ARE COMPETENT TO ENTER INTO A LEGALLY BINDING AGREEMENT AND 
				HAVE AUTHORITY TO BIND YOURSELF OR THE PERSON OR ENTITY YOU REPRESENT AND TO BE 
				BOUND HEREBY.</p>
				<p>All features on this Site, including but not limited to features which may be 
				accessed without monetary charge, and specifically including without limitation 
				features, information and services which do require subscription and acceptance 
				by E-vent Software as a Customer, are subject to and shall be strictly governed 
				by these Terms of Use. In addition, but without limiting the foregoing, certain 
				features offered or made available on or through this Site may be available 
				only to individuals or entities who expressly agree to certain additional 
				specific terms, provisions, conditions, notices and disclaimers (hereinafter 
				“Service Agreement” with respect to Customers). Agreement with the Service 
				Agreement shall in no way limit these Terms of Use and shall not limit their 
				universal applicability to use or access of this Site.</p>
				<p>At this time, access to this Site and some of its features may be offered free 
				of monetary charge. Because there may be no monetary charge for access to this 
				Site and use of its features, your acceptance of, assent to, and agreement and 
				compliance with, the Terms of Use constitutes consideration for your use and 
				access. Additional consideration is necessary for access or use of the Site or 
				the Services as a Customer, which is set forth more fully in the Service 
				Agreement, but all users are subject to these Terms of Use. E-vent Software 
				reserves the right to charge money for access to this Site or any of its 
				content or features in the future.</p>
				<p>All applicable provisions of state, federal and local law, equitable principles 
				and regulations are hereby incorporated into these Terms of Use, including 
				without limitation the Service Agreement for Customers, to the same extent as 
				if set forth herein or in the Service Agreement verbatim. The Terms of Use, 
				including without limitation the Service Agreement for Customers, are subject 
				to any and all applicable provisions of state, federal, and local law, 
				equitable principles, regulations, orders, decrees, requests or process of any 
				court, tribunal of competent jurisdiction, or law enforcement authority of or 
				from any jurisdiction, and nothing contained within these Terms of Use, 
				including without limitation the Service Agreement for Customers, shall impair 
				in any way whatsoever E-vent Software’s right to comply or govern its actions 
				as and to the extent E-vent Software deems necessary with respect to any of 
				same. If a court of competent jurisdiction determines that any term, provision, 
				or condition included within the Terms of Use, including without limitation the 
				Service Agreement for Customers, in whole or in part violate or do not comply 
				with any applicable law, principle of equity, or regulation and any term, 
				provision or condition included within the Terms of Use, including without 
				limitation the Service Agreement for Customers, shall be determined by said 
				court to be void, invalid, of no effect, or unenforceable, in whole or in part, 
				for any reason whatsoever, such portion , and any other portion or term, 
				provision or condition affected thereby, shall be construed consistent with 
				applicable law, or be deemed modified solely to the extent necessary, to 
				reflect as nearly as possible the original intentions of the parties, and the 
				remaining portions shall remain in full force and effect. To the extent that 
				anything in or associated with this Site or E-vent Software is in conflict with 
				these Terms of Use, these Terms of Use shall take precedence.
				</p>
				<p>E-vent Software reserves the right in its absolute discretion to modify, change, 
				add to or delete from these Terms of Use, in whole or in part at any time 
				without notice and any modification, change, addition or deletion shall take 
				effect immediately upon posting or display herein. E-vent Software further 
				reserves the right to discontinue or terminate any feature offered, made 
				available or provided and your use or access to this Site at any time. Failure 
				of E-vent Software to enforce any term, provision or condition of these Terms 
				of Use, in whole or in part shall not be deemed a waiver of such term, 
				provision or condition, nor the right to enforce such term, provision or 
				condition.
				</p>
				<p><STRONG><U>INTELLECTUAL PROPERTY</U></STRONG>
				
				</p>
				<P>All content on this Site, including without limitation any and all materials, 
				information, text, data, contents, names, tradenames, trademarks, trade dress, 
				service marks, lay out, logos, designs, images, graphics, illustrations, 
				artwork, icons, photographs, displays, sound, music, video, animation, 
				organization, assembly, arrangement, and all intellectual property of any kind 
				whatsoever, including, without limitation, the name and designs of E-vent 
				Software, and all right therein, is owned exclusively by E-vent Software, Inc. 
				or the licensors or suppliers of E-vent Software and is protected by U.S. and 
				international copyright and intellectual property laws. All rights are hereby 
				reserved. Without limiting the foregoing, no content on this Site may be 
				copied, reproduced, duplicated, published, or sold, re-sold, transferred, 
				distributed, or exploited in any form or by any means whatsoever without the 
				prior express written permission of E-vent Software or the appropriate licensor 
				or supplier. Without limiting the foregoing, neither this Site nor the 
				Services, nor any content or Services on or available on or through this Site, 
				shall be reproduced, duplicated, copied, sold, re-sold, transferred, 
				distributed, or exploited for any commercial purpose. Permission is hereby 
				granted to copy the contents of this Site for personal, non-commercial use 
				only, provided you do not modify or alter the content in any way whatsoever, 
				retain all copyright and other legal notices and Terms of Use, contained 
				herein, and do not post or distribute said content. You obtain no rights, 
				including without limitation property rights, license, or lease, in any content 
				herein by use or access to this Site, its features or content.
				</P>
				<p><STRONG><U>DISCLAIMERS </U></STRONG>
				</p>
				<p>Information, data, news and other information contained in or on, or accessible 
				or made available through, this Site is generated or provided by you or third 
				parties and E-vent Software makes no representation or warranty of any kind 
				whatsoever as to the accuracy, truthfulness, usefulness, timeliness or 
				completeness of any of the content herein or accessible hereby in whole or in 
				part. Further, any such information, data, news or other information accessible 
				or made available through this Site may contain errors, defects or be 
				unreliable, and E-vent Software makes no effort to review, check or verify any 
				news, data, or other information accessible or made available through this 
				Site. E-vent Software assumes no responsibility for the accuracy, truthfulness 
				or usefulness of the data, information or other content on this Site or 
				accessible through this Site, and E-vent Software shall have no responsibility 
				to correct or update said data, information or content on this Site. You assume 
				full and complete responsibility for checking and verifying any and all data, 
				information, and content, including without limitation its usefulness, 
				truthfulness, accuracy, completeness or currency. You are responsible for 
				checking or verifying the accuracy, completeness, truthfulness, timeliness, 
				usefulness and value to you to whatever extent you deem necessary, in reliance 
				on other advisers, consultants, experts and resources you deem necessary and 
				you shall indemnify and hold E-vent Software, its agents, employees, officers, 
				directors, subsidiaries and affiliates harmless from and against any and all 
				liability, loss, damage, claim, cost, expense, including without limitation 
				attorneys and accountants’ fees and costs caused by, or arising out of or 
				related directly or indirectly to your reliance on any content contained on 
				this Site or accessible or made available through this Site.
				</p>
				<p>THE SERVICES, INCLUDING WITHOUT LIMITATION ALL APPLICATIONS, INFORMATION, DATA, 
				FEATURES AND ALL CONTENT, IS OFFERED AND MADE AVAILABLE HEREIN ON AN “AS IS,” 
				“AS AVAILABLE,” BASIS. IN NO EVENT SHALL E-VENT SOFTWARE BE LIABLE TO YOU, YOUR 
				COMPANY, EMPLOYEES, AGENTS, THIRD PARTIES, ASSOCIATES, PARTNERS, MEMBERS, 
				GUESTS OR ANYONE ELSE FOR ANY CONSEQUENTIAL, INCIDENTAL, SPECIAL, PUNITIVE OR 
				INDIRECT DAMAGES OF ANY KIND WHATSOEVER, INCLUDING WITHOUT LIMITATION THOSE 
				RESULTING FROM LOSS OR IMPAIRMENT OF USE, DATA, OR PROFITS, YOU OR ANYONE ELSE 
				MAY INCUR RELATING TO YOUR USE OR ACCESS TO THIS SITE, OR THE USE OR ACCESS 
				HERETO BY ANYONE ELSE, EVEN IF ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES, 
				AND AS A CONDITION TO USE OR ACCESS ANY SUCH INFORMATION, YOU EXPRESSLY WAIVE 
				ANY AND ALL CLAIMS YOU MAY HAVE OR ASSERT AGAINST E-VENT SOFTWARE RELATING 
				DIRECTLY OR INDIRECTLY TO ACCESSING OR USING OR RELIANCE UPON ANY SUCH 
				INFORMATION OR DATA BY YOU OR ANYONE ELSE. THE TERM “DAMAGES’ AS USED HEREIN 
				INCLUDES WITHOUT LIMITATION ANY AND ALL LIABILITY, LOSS, DAMAGE, INJURY, CLAIM, 
				FOUNDED OR UNFOUNDED, EXPENSE, FEE OF ANY KIND, INCLUDING WITHOUT LIMITATION 
				ATTORNEYS OR ACCOUNTANTS FEES.
				</p>
				<p>E-VENT SOFTWARE SHALL NOT BE LIABLE FOR ANY DELAY OR NONPERFORMANCE OF THESE 
				TERMS OF USE, OR ANY TERM OR PROVISION HEREOF IN WHOLE OR IN PART, CAUSED BY 
				FORCES OR FACTORS BEYOND ITS REASONABLE CONTROL, INCLUDING BUT NOT LIMITED TO 
				WARS, INSURRECTIONS, REBELLIONS, REVOLUTIONS, CIVIL WARS, USURPED POWER, ACTION 
				TAKEN BY GOVERNMENT AUTHORITY IN HINDERING, COMBATING OR DEFENDING AGAINST SUCH 
				OCCURRENCE, OR CONFISCATION BY ORDER OF ANY GOVERNMENT OR PUBLIC AUTHORITY, 
				STRIKES, LOCKOUTS, LABOR DISPUTES OR DISTURBANCES, RIOTS, AUTHORITY OF LAW, 
				ACTS OF GOD, SEVERE WEATHER, COMPUTER HARDWARE OR SOFTWARE PROBLEMS OF ANY KIND 
				OR ANY OTHER CAUSE.</p>
				
				<p>E-VENT SOFTWARE MAKES NO REPRESENTATION OR WARRANTY OF ANY KIND WHATSOEVER 
				REGARDING ANY CONTENT CONTAINED ON THIS SITE, INCLUDING WITHOUT LIMITATION 
				SERVICE, NEWS, DATA, INFORMATION OR CONTENT OF ANY KIND, OF THE USEFULNESS, 
				RELIABILITY, TRUTHFULNESS, ACCURACY, TIMELINESS OR COMPLETENESS TO YOU OR 
				ANYONE ELSE, INCLUDING WITHOUT LIMITATION WARRANTY OF MERCHANTABILITY, WARRANTY 
				OF FITNESS FOR PARTICULAR PURPOSE OR USE, WARRANTY OF NON-INFRINGEMENT, 
				WARRANTY OF TITLE, OR WARRANTY OF ANY KIND.
				</p>
				<p>E-VENT SOFTWARE MAKES NO REPRESENTATION OR WARRANTY OF ANY KIND THAT THIS SITE 
				OR ANY CONTENT HEREIN OR AVAILABLE FROM OTHER SITES ACCESSIBLE HEREBY, 
				INCLUDING WITHOUT LIMITATION SOFTWARE OR FILES ACCESSIBLE OR MADE AVAILABLE FOR 
				DOWNLOAD HEREFROM, ARE FREE OF OR FROM TECHNOLOGICALLY UNSTABLE FILES OR 
				CHARACTERISTICS, OR BUGS, VIRUSES, ERRORS, DEFECTS, PROBLEMS, TROJAN HORSES, 
				WORMS, OTHER LIMITATIONS OR OTHER CODES OR DEFECTS THAT MAY HAVE CONTAMINATING 
				OR DESTRUCTIVE PROPERTIES OR CHARACTERISTICS OR ADVERSE EFFECTS ON YOUR 
				SOFTWARE OR HARDWARE. YOU ASSUME ALL RISKS AND RESPONSIBILITY FOR USE OR 
				RELIANCE UPON THIS SITE OR ANY INFORMATION OR DATA SET FORTH HEREIN.</p>
				<p>IF YOU ARE DISSATISFIED WITH THIS SITE, THE SERVICES, OR ANY FEATURE, 
				APPLICATION OR INFORMATION HEREIN OR ACCESSIBLE HEREFROM, OR ANY OF THE TERMS 
				OF USE, PRIVACY POLICY OR OPERATION OF THE SITE OR ANY OF ITS FEATURES, YOUR 
				SOLE REMEDY SHALL BE TO DISCONTINUE USE OF THE SITE AND ITS FEATURES.
				</p>
				<p><STRONG><U>CODE OF CONDUCT</U></STRONG>
				<P>You agree not to use the Services to:
				<OL>
				<LI>
				<p>
				
				Post, place, communicate, send, transmit, disseminate, distribute, forward, 
				upload, reproduce, publish or republish, directly or indirectly (hereinafter 
				referred to collectively as “Post or Transmit”) any information or content of 
				any kind whatsoever, including without limitation data, articles, 
				communications, advice, recommendations, reviews, opinions, news, programming, 
				directories, guides, texts, graphics, photographs, illustrations, logos, audio 
				clips, images, messages, statements, comments, language, software, programs, 
				code, technology or any other content of any kind whatsoever in whatever form 
				or medium (all referred to hereinafter collectively as “Content”), that is in 
				any way i) unlawful or violates or could violate any local, state or federal 
				law, rule, regulation, order, or decree, or gives rise to civil liability, or 
				which encourages or advocates any of the above, or ii) that is offensive or 
				violates the rights or sensibilities of other persons or entities, or iii) is 
				otherwise objectionable or unacceptable to E-vent Software (all of the above 
				hereinafter referred to as “Prohibited Content”), said Prohibited Content 
				including without limitation Content which is libelous, defamatory, fraudulent, 
				false, misleading, threatening, harassing, abusive, harmful, malicious, rude, 
				hateful, racist, sexist, discriminatory, obscene, pornographic, profane, 
				vulgar, indecent, crude, or objectionable in any way whatsoever;
				<BR>
				</p>
				<LI>
				<p>
				Use or attempt to use the Customer Services to restrict, inhibit or interfere 
				with any other User or Representative using or accessing the Site or the 
				Customer Services;<BR>
				</p>
				<LI>
				<p>
				Post or transmit any Content that discloses personal or private information 
				about or concerning, or in any way invades the privacy, publicity or 
				proprietary rights of, any person including without limitation a Customer or 
				User of the Site;
				<BR>
				</p>
				<LI>
				<p>
				Post or transmit any Content that contains or may contain or result in the 
				posting or transmitting of Content that contains or may contain any 
				destructive, disruptive, corrupting, contaminating, or harmful quality, 
				component or feature, including without limitation any virus, worm, cancelbolt, 
				or Trojan Horse;
				<BR>
				
				</p>
				<LI>
				<p>
				Post or transmit any content that violates or infringes upon, or may violate or 
				infringe upon, the rights or interests of E-vent Software, the Site, Customers, 
				Representatives, Visitors, Users or others, including without limitation 
				posting or transmitting without due authorization copyrighted or otherwise 
				protected text, images, property, programs, trade secrets, confidential or 
				proprietary information, intellectual property, or trademarks or service marks;
				<BR>
				</p>
				<LI>
				<p>
				Post or transmit any solicitation, request, or petition for any vote, political 
				action, chain letter, pyramid scheme or arrangement, investment opportunity, or 
				sale of security;
				<BR>
				</p>
				<LI>
				<p>
				Post or transmit any advertising, promotional information, commercial 
				solicitation, “spamming,” “flooding,” or content that contains advertising, or 
				exploits any content for a commercial purpose, or sell or offer for sale, rent, 
				lease, or any commercial purpose, any content;
				<BR>
				</p>
				<LI>
				<p>
				
				Post or Transmit Content containing any request or opportunity to participate 
				in contests, or sweepstakes;
				<BR>
				</p>
				<LI>
				<p>
				Impersonate or misrepresent in any way your affiliation with any other person 
				or entity, including without limitation E-vent Software or that any Customer, 
				Representative, Visitor or user, or company or employer or affiliate of a 
				Customer, Representative, Visitor or user, or that any Content Posted or 
				Transmitted by you is endorsed or approved by E-vent Software.</p>
				</LI>
				</OL>
				<p><STRONG><U>NO UNLAWFUL OR PROHIBITED USE</U></STRONG>
				</p>
				<p>As a condition of your use of the Site, you warrant to E-vent Software that you 
				will not use the Site for any purpose that is unlawful or prohibited by these 
				terms, conditions, and notices. You may not use the Site in any manner that 
				could damage, disable, overburden, or impair the Site or interfere with any 
				other party’s use and enjoyment of the Site. You may not obtain or attempt to 
				obtain any materials or information through any means not intentionally made 
				available or provided for through the Site.</p>
				<p><STRONG><U>MEMBER ACCOUNT, PASSWORD AND SECURITY</U></STRONG></p>
				
				<p>To interact with certain features of the Site, you may choose to or may be 
				required to register. In this event, you will receive a password and account 
				designation upon completing the Service's registration process. In 
				consideration of your use of the Services, you agree to: (a) provide true, 
				accurate, current and complete information about yourself as prompted by the 
				Service's registration form (such information being the "Registration Data") 
				and (b) maintain and promptly update the Registration Data to keep it true, 
				accurate, current and complete. If you provide any information that is untrue, 
				inaccurate, not current or incomplete, or E-vent Software has reasonable 
				grounds to suspect that such information is untrue, inaccurate, not current or 
				incomplete, E-vent Software has the right to suspend or terminate your account 
				and refuse any and all current or future use of the Services (or any portion 
				thereof). You are responsible for maintaining the confidentiality of the 
				password and account, and are fully responsible for all activities that occur 
				under your password or account. You agree to (a) immediately notify E-vent 
				Software of any unauthorized use of your password or account or any other 
				breach of security, and (b) ensure that you exit from your account at the end 
				of each session. E-vent Software cannot and will not be liable for any loss or 
				damage arising from your failure to comply with the provisions hereinabove.</p>
				<p><STRONG><U>FINANCIAL TRANSACTIONS</U></STRONG></p>
				<p>By initiating and sending payments through the Service, you appoint E-vent 
				Software as your agent to obtain the funds on your behalf and to transfer the 
				funds to the recipient, subject to the terms and restrictions of these Terms Of 
				Use. E-vent Software will obtain the funds per your instructions by debiting a 
				bank account or charging a credit card that you designate. The transaction 
				record on your bank account or credit card statement will indicate the name of 
				the recipient that you designated. When you initiate an ACH transaction through 
				the Services, you are requesting an electronic transfer of funds from your bank 
				account, which E-vent Software will execute using the ACH system from your U.S. 
				bank account in the amount you specify. You agree that such requests constitute 
				your authorization for such transfers. E-vent Software will never make 
				transfers from your bank account or credit card without your authorization.</p>
				<p><STRONG><U>TERMINATION/ACCESS RESTRICTION</U></STRONG></p>
				<p>E-vent Software reserves the right, in its sole discretion, to terminate your 
				access to any or all E-vent Software Sites and the related services or any 
				portion thereof at any time, without notice.</p>
				<p><STRONG><U>LINKS</U></STRONG>
				
				</p>
				<p>This Site may contain links to other Internet sites, and without limiting the 
				above, E-vent Software does not endorse, vouch for or approve such sites or the 
				content contained therein and is not responsible or liable for said content. 
				You link to other sites at your own risk.</p>
				<p><STRONG><U>JURISDICTION; GOVERNING LAW</U></STRONG>
				</p>
				<p>This Site is owned and controlled by E-vent Software from its offices and/or 
				locations in&nbsp;Texas. It can be accessed on the Internet from all 50 states, 
				as well as other countries around the world. As each of these places and 
				jurisdictions has laws that may differ from those of Texas, by accessing this 
				Site, both you and E-vent Software agree that these Terms of Use shall be 
				deemed and treated as though they were entered into, executed, and performed 
				solely in Wichita County, Texas, and the statutes and laws of the State of 
				Texas, without regard for conflict of law rules thereof, apply to all matters 
				relating to use of this Site and shall without limitation govern these Terms of 
				Use. You agree that by use of this Site you do hereby submit to jurisdiction of 
				the courts of Texas with appropriate subject matter jurisdiction and that any 
				conflict brought or filed with respect to use of this Site or concerning the 
				Terms of Use shall be brought in a court of competent jurisdiction in Wichita 
				County, Texas. In any legal action relating to enforcement or breach of these 
				Terms of Use, the prevailing party shall be entitled to recovery of costs, fees 
				and expenses of such action, including without limitation attorney fees and 
				accounting fees. A printed copy of these Terms of Use or part thereof as 
				modified in accordance with the terms hereof from time to time shall be deemed 
				admissible in any court of law or administrative proceeding and shall be deemed 
				the original and the best evidence of the intentions of the parties with 
				respect to use of this Site.
				</p>
				<p><STRONG><U>MISCELLANEOUS</U></STRONG>
				
				</p>
				<p>These Terms of Use shall be interpreted according to their fair meaning and 
				shall not be interpreted strictly against or for either party. These Terms of 
				Use constitute the entire agreement with respect to the subject matter hereof 
				and supersede all prior or contemporaneous communications and proposals, 
				whether, electronic, oral or written, between E-vent Software and the user of 
				this Site. Headings used herein are for convenience only and shall not limit, 
				control or add to the meaning of any term, provision or condition. You may not 
				transfer any rights or obligations you may have under these Terms Of Use 
				without the prior written consent of E-vent Software. E-vent Software reserves 
				the right to transfer these Terms Of Use or any right or obligation under these 
				Terms Of Use without your consent. Use of the plural herein shall include the 
				singular and use of the singular shall include the plural.
				</p>
				<p>To the fullest extent permitted by applicable law, these Terms of Use and any 
				other agreements, notices or other communications regarding your use of the 
				Services ("Communications"), may be provided to you electronically and you 
				agree to receive all Communications from E-vent Software in electronic form. 
				Communications may be posted on the pages within the Site and/or delivered to 
				your e-mail address. You may print a copy of any Communications and retain it 
				for your records. All Communications in either electronic or paper format will 
				be considered to be in "writing," and to have been received no later than five 
				(5) business days after posting or dissemination, whether or not you have 
				received or retrieved the Communication. E-vent Software reserves the right but 
				assumes no obligation to provide Communications in paper format. Your continued 
				use of the Services is your consent to receive Communications electronically. 
				If you revoke your consent to receive Communications electronically, E-vent 
				Software will terminate your right to use the Services.</p>
				<p><STRONG><U>CONTACTING THE WEB SITE</U></STRONG></p>
				<p>If you have any questions about the Terms of Use, the practices of this Site, or 
				your dealings with this Site, you may contact: <A href="mailto:info@getpathway.com">
				info@getpathway.com</A>.</p>
			</div>		
		</div>
	</div>
	<div id="paymentfaq" class="section clearfix">
		<div class="grid_14 prefix_1">
			<h3>Payment FAQs</h3>
		</div>		
	</div>
</div>