@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Plans";
    Page.Current = "Plans";
}
<div class="gry-shadow main container_16">
	<div class="headline grywht-grad">
		<h1>Choose a plan that works best for you.</h1>
		<h2>Flexible options that won't break the bank.</h2>
	</div>
	<div class="section clearfix">
		<div class="grid_14 prefix_1">
			<div class="pricing-header">
				<table style="width:742px;margin:10px auto;">
					<tr>
						<td width="20%" style="padding: 15px 10px;font-size: 18px;color: white;font-weight: 600;text-shadow: none;">Plan:</td>
						<td width="25%" style="padding: 15px 10px;font-size: 18px;color: white;font-weight: 600;text-shadow: none;">Included Minutes:</td>
						<td width="25%" style="padding: 15px 10px;font-size: 18px;color: white;font-weight: 600;text-shadow: none;">Setup Fee:</td>
						<td width="25%" style="padding: 15px 10px;font-size: 18px;color: white;font-weight: 600;text-shadow: none;">Monthly Fee:</td>
						<td width="5%"></td>
					</tr>
				</table>
			</div>
			<div class="pricing-container">
				<ul class="deco-list">
					<li>
						<table style="width:100%;">
							<tr>
								<td width="20%" style="padding:0 10px;font-weight:bold;">Starter</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">200 minutes</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$99 once</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$50/month</td>
								<td width="5%" style="padding:0 9px;font-weight:normal;">
									<a href="#" class="block" rel="popover" data-content="The Starter Plan includes 200 minutes per month. Any usage beyond 200 minutes within a 30-day billing cycle will be billed at $0.20 per minute. This plan would accomodate approximately 40 five-minute phone calls." data-original-title="Starter Plan Description" data-placement="above"><span class="icon-question"></span></a>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table style="width:100%;">
							<tr>
								<td width="20%" style="padding:0 10px;font-weight:bold;">Basic</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">500 minutes</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$249 once</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$90/month</td>
								<td width="5%" style="padding:0 9px;font-weight:normal;">
									<a href="#" class="block" rel="popover" data-content="The Basic Plan includes 500 minutes per month. Any usage beyond 500 minutes within a 30-day billing cycle will be billed at $0.20 per minute. This plan would accomodate approximately 100 five-minute phone calls." data-original-title="Basic Plan Description" data-placement="above"><span class="icon-question"></span></a>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table style="width:100%;">
							<tr>
								<td width="20%" style="padding:0 10px;font-weight:bold;">Premium</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">1000 minutes</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$499 once</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$140/month</td>
								<td width="5%" style="padding:0 9px;font-weight:normal;">
									<a href="#" class="block" rel="popover" data-content="The Premium Plan includes 1000 minutes per month. Any usage beyond 1000 minutes within a 30-day billing cycle will be billed at $0.20 per minute. This plan would accomodate approximately 200 five-minute phone calls." data-original-title="Premium Plan Description" data-placement="above"><span class="icon-question"></span></a>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table style="width:100%;">
							<tr>
								<td width="20%" style="padding:0 10px;font-weight:bold;">Super</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">2000 minutes</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$749 once</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$240/month</td>
								<td width="5%" style="padding:0 9px;font-weight:normal;">
									<a href="#" class="block" rel="popover" data-content="The Super Plan includes 2000 minutes per month. Any usage beyond 2000 minutes within a 30-day billing cycle will be billed at $0.20 per minute. This plan would accomodate approximately 400 five-minute phone calls." data-original-title="Super Plan Description" data-placement="above"><span class="icon-question"></span></a>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table style="width:100%;">
							<tr>
								<td width="20%" style="padding:0 10px;font-weight:bold;">Mega</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">4000 minutes</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$999 once</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$400/month</td>
								<td width="5%" style="padding:0 9px;font-weight:normal;">
									<a href="#" class="block" rel="popover" data-content="The Mega Plan includes 4000 minutes per month. Any usage beyond 100 minutes within a 30-day billing cycle will be billed at $0.20 per minute. This plan would accomodate approximately 800 five-minute phone calls." data-original-title="Mega Plan Description" data-placement="above"><span class="icon-question"></span></a>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<table style="width:100%;">
							<tr>
								<td width="20%" style="padding:0 10px;font-weight:bold;">Unlimited</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">unlimited</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$4,999 once</td>
								<td width="25%" style="padding:0 10px;font-weight:normal;">$0.08/minute</td>
								<td width="5%" style="padding:0 9px;font-weight:normal;">
									<a href="#" class="block" rel="popover" data-content="The Unlimited Plan does not include monthly minutes. All minute usage is billed per minute at $0.08 per minute. This plan would accomodate an unlimited number of phone calls." data-original-title="Unlimited Plan Description" data-placement="above"><span class="icon-question"></span></a>
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
			<div class="pricing-footer"></div>		
		</div>
		<div class="grid_14 prefix_1" style="margin-bottom:30px;">
			<a class="toggle-btn"><span class="icon-arrow"></span> Payment FAQs</a>
			<div class="toggle-content none">
				<br />
				<div class="rounded sub-content" style="padding:10px 15px;">
					<p>
						<b>What is the term of My Agreement?</b><br />
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id leo et sapien blandit eleifend convallis vitae nunc. Maecenas magna justo, convallis ut dictum sed, cursus quis lectus. Maecenas sed magna eget quam placerat porta vel a felis. Nunc nec orci ac lorem porttitor cursus ut volutpat tortor. Quisque ligula odio, luctus a varius at, aliquet a sapien. Vestibulum facilisis porttitor dolor, tincidunt aliquam odio convallis ac.
					</p>
					<p>
						<b>When can I terminate this Agreement?</b><br />
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id leo et sapien blandit eleifend convallis vitae nunc. Maecenas magna justo, convallis ut dictum sed, cursus quis lectus. Maecenas sed magna eget quam placerat porta vel a felis. Nunc nec orci ac lorem porttitor cursus ut volutpat tortor. Quisque ligula odio, luctus a varius at, aliquet a sapien. Vestibulum facilisis porttitor dolor, tincidunt aliquam odio convallis ac.
					</p>
					<p>
						<b>What charges am I responsible for?</b><br />
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id leo et sapien blandit eleifend convallis vitae nunc. Maecenas magna justo, convallis ut dictum sed, cursus quis lectus. Maecenas sed magna eget quam placerat porta vel a felis. Nunc nec orci ac lorem porttitor cursus ut volutpat tortor. Quisque ligula odio, luctus a varius at, aliquet a sapien. Vestibulum facilisis porttitor dolor, tincidunt aliquam odio convallis ac.
					</p>
					<p>
						<b>How does Pathway Calculate My Usage?</b><br />
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id leo et sapien blandit eleifend convallis vitae nunc. Maecenas magna justo, convallis ut dictum sed, cursus quis lectus. Maecenas sed magna eget quam placerat porta vel a felis. Nunc nec orci ac lorem porttitor cursus ut volutpat tortor. Quisque ligula odio, luctus a varius at, aliquet a sapien. Vestibulum facilisis porttitor dolor, tincidunt aliquam odio convallis ac.
					</p>
				</div>
			</div>
		</div>		
		<div class="grid_14 prefix_1">
			<div class="grid_11 alpha">
				<h3>Get started with Pathway in just a few easy steps!</h3>
			</div>
			<div class="grid_3 omega rgt-align">
				<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="content clearfix">
			<div class="grid_6 prefix_1">
				<img src="@Href("~/img/section-content-pricing.png")" width="340" height="130" alt="Pathway - Pricing" />
			</div>
			<div class="grid_8">
				<p>We encourage you to share this application with other ministries within your church. Each can have its own campaign and users that either call for one or multiple ministries.  Pathway was designed to help the entire church, but give each ministry a separate, compartmentalized experience in order to keep things specific to what you need the most.</p>
			</div>
		</div>
	</div>
	<div class="section clearfix">
		<div class="grid_14 prefix_1">
			<div class="grid_8 alpha">
				<span class="icon-clock">How many minutes do I need?</span>
				<h3 class="inline-block">How many minutes do I need?</h3>
				<p>We know that picking the right plan includes a little guesswork.  You may know how many contacts (first time guests, new believers, etc) but you aren’t quite sure how long the calls typically last, and how many times you attempt to make contact on average.  While results vary depending on the campaign itself, here are some <i>real</i> statistics for you to use as you make your decision. </p>
			</div>
			<div class="grid_4 prefix_2 omega">
				<div class="rounded sub-content" style="height:179px;padding:5px 0 0 5px;">
					<p>
						Average number of Pathway minutes per contact used: <b class="green">XX</b><br/><br/>
						Average call time per contact (including messages): <b class="green">XX</b><br/><br/>
						Minutes used per 20 contacts to connect: <b class="green">XX</b>					
					</p>
				</div>
			</div>
		</div>		
	</div>
	<div class="section">
		<div class="content clearfix">
		<div class="grid_14 prefix_1">
			<div class="grid_11 alpha">
				<h3>That's all there is to it, Sign Up today!</h3>
			</div>
			<div class="grid_3 omega rgt-align">
				<a href="https://pathwayapp.com/signup" class="btn grn large">Sign Up</a>
			</div>
		</div>		
		</div>
	</div>		
</div>

@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			$("a[rel=popover]").popover({offset: 5});
		});
	</script>
}