@{
    Layout = "~/_Master.cshtml";
    Page.Title = "Plans";
}
<div class="gry-shadow main container_16">
	<div class="headline">
		<h1>Choose a plan that works best for you.</h1>
		<h2>Sub headlines look like this!</h2>
	</div>
	<div class="section clearfix">
		<div class="grid_14 prefix_1">
			<img src="@Href("~/img/pricing-grid.png")" width="820" height="372" alt="Pathway - Pricing" style="margin:0 0 40px 0;" />
		</div>
		<div class="grid_14 prefix_1">
			<div class="grid_11 alpha">
				<h3>Get started with Pathway in just a few easy steps!</h3>
			</div>
			<div class="grid_3 omega rgt-align">
				<a href="#" class="btn large">Sign Up</a>
			</div>
		</div>		
	</div>
	<div class="section">
		<div class="content clearfix">
			<div class="grid_6 prefix_1">
				<img src="@Href("~/img/section-content-pricing.png")" width="340" height="130" alt="Pathway - Pricing" />
			</div>
			<div class="grid_8">
				<p>We encourage you to share this application with other ministries within your church. Each can have its own campaign and users that either call for one or multiple ministries.  Pathway was designed to help the entire church, but give each ministry a separate, compartmentalized experience in order to keep things specific to what you need the most.</p>
			</div>
		</div>
	</div>
	<div class="section clearfix">
		<div class="grid_14 prefix_1">
			<div class="grid_8 alpha">
				<span class="icon-clock">How many minutes do I need?</span>
				<h3 class="inline-block">How many minutes do I need?</h3>
				<p>We know that picking the right plan includes a little guesswork.  You may know how many contacts (first time guests, new believers, etc) but you aren’t quite sure how long the calls typically last, and how many times you attempt to make contact on average.  While results vary depending on the campaign itself, here are some <i>real</i> statistics for you to use as you make your decision. </p>
			</div>
			<div class="grid_4 prefix_2 omega">
				<div style="height:179px;border:1px solid #ccc;background:#eee;border-radius:5px;padding:5px 0 0 5px;">
					<p>
						Average number of Pathway minutes per contact used: <b class="green">XX</b><br/><br/>
						Average call time per contact (including messages): <b class="green">XX</b><br/><br/>
						Minutes used per 20 contacts to connect: <b class="green">XX</b>					
					</p>
				</div>
			</div>
		</div>		
	</div>
</div>